@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap 4. Colores de fondo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="col">
        <p class="p-2 bg-primary text-white">¡HOLA MUNDO!</p>
        <p class="p-2 bg-secondary text-white">¡HOLA MUNDO!</p>
        <p class="p-2 bg-success text-white">¡HOLA MUNDO!</p>
        <p class="p-2 bg-danger text-white">¡HOLA MUNDO!</p>
        <p class="p-2 bg-warning text-white">¡HOLA MUNDO!</p>
        <p class="p-2 bg-info text-white">¡HOLA MUNDO!</p>
        <p class="p-2 bg-light text-dark">¡HOLA MUNDO!</p>
        <p class="p-2 bg-dark text-white">¡HOLA MUNDO!</p>
        <p class="p-2 bg-white text-dark">¡HOLA MUNDO!</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>